# Пример файла /config/esphome/secrets.yaml.
# Не публикуйте реальный secrets.yaml в GitHub.

wifi_ssid: "YOUR_WIFI_SSID"
wifi_password: "YOUR_WIFI_PASSWORD"

# Минимум 8 символов.
fallback_ap_password: "CHANGE_ME_123"

# Создайте свой ключ ESPHome API в формате Base64.
api_encryption_key: "PASTE_YOUR_32_BYTE_BASE64_KEY_HERE"

ota_password: "PASTE_YOUR_OTA_PASSWORD_HERE"
